In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\talip\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: scipy>=1.2.1 in c:\users\talip\anaconda3\lib\site-packages (from mlxtend) (1.11.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\talip\anaconda3\lib\site-packages (from mlxtend) (1.24.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\talip\anaconda3\lib\site-packages (from mlxtend) (2.0.3)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\talip\anaconda3\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\talip\anaconda3\lib\site-packages (from mlxtend) (3.7.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\talip\anaconda3\lib\site-packages (from mlxtend) (1.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.1)
Requirement already satisfied: pillow>=6.2.0 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.4.0)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\talip\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\talip\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\talip\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\talip\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\talip\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import fpgrowth

In [2]:
dataset = pd.read_csv('IMDB-Movie-Data.csv', header=0)

In [3]:
dataset

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB

In [5]:
dataset.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
df=dataset['Actors']

In [7]:
df.info()

<class 'pandas.core.series.Series'>
RangeIndex: 1000 entries, 0 to 999
Series name: Actors
Non-Null Count  Dtype
--------------  -----
1000 non-null   object
dtypes: object(1)
memory usage: 7.9+ KB

In [8]:
df= list(df.apply(lambda clmn:clmn.split(',')))
df[0],df[-1]

(['Chris Pratt', ' Vin Diesel', ' Bradley Cooper', ' Zoe Saldana'],
 ['Kevin Spacey', ' Jennifer Garner', ' Robbie Amell', 'Cheryl Hines'])

In [9]:
te=TransactionEncoder()
te_ary=te.fit(df).transform(df)
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,50 Cent,A.C. Peterson,AJ Michalka,Aamir Khan,Aaron Burns,Aaron Eckhart,Aaron Paul,Aaron Taylor-Johnson,Aaron Yoo,Aasif Mandvi,...,Winona Ryder,Woody Allen,Xavier Samuel,Yoo Gong,Zac Efron,Zach Galifianakis,Zachary Gordon,Zachary Quinto,Zoey Deutch,Zooey Deschanel
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
dfs=fpgrowth(df, min_support=0.004, use_colnames=True, max_len=None, verbose=0)
dfs

     support                                           itemsets
0      0.007                                  ( Bradley Cooper)
1      0.006                                     ( Zoe Saldana)
2      0.007                                 ( Charlize Theron)
3      0.005                              ( Michael Fassbender)
4      0.005                                     (James McAvoy)
..       ...                                                ...
235    0.004               ( Liam Hemsworth, Jennifer Lawrence)
236    0.004                ( Liam Hemsworth,  Josh Hutcherson)
237    0.004              ( Josh Hutcherson, Jennifer Lawrence)
238    0.004  ( Liam Hemsworth,  Josh Hutcherson, Jennifer L...
239    0.004                       (Adam Sandler,  Kevin James)

[240 rows x 2 columns]

In [11]:
dfs.sort_values(by="support",ascending=False)

     support                      itemsets
74     0.011               (Mark Wahlberg)
61     0.011              (Christian Bale)
46     0.009           (Denzel Washington)
5      0.009         (Matthew McConaughey)
163    0.009                 ( Rose Byrne)
..       ...                           ...
111    0.004                  ( Kate Mara)
110    0.004            ( Natalie Portman)
108    0.004              ( Mark Wahlberg)
106    0.004               (Russell Crowe)
239    0.004  (Adam Sandler,  Kevin James)

[240 rows x 2 columns]

In [12]:
association_rules(dfs, metric="confidence", min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,( Robert Pattinson),(Kristen Stewart),0.005,0.006,0.004,0.8,133.333333,0.003970,4.97,0.997487
1,( Paul Walker),(Vin Diesel),0.004,0.006,0.004,1.0,166.666667,0.003976,inf,0.997992
2,( Rupert Grint),( Emma Watson),0.004,0.007,0.004,1.0,142.857143,0.003972,inf,0.996988
3,( Rupert Grint),(Daniel Radcliffe),0.004,0.008,0.004,1.0,125.000000,0.003968,inf,0.995984
4,"( Rupert Grint, Emma Watson)",(Daniel Radcliffe),0.004,0.008,0.004,1.0,125.000000,0.003968,inf,0.995984
5,"( Rupert Grint, Daniel Radcliffe)",( Emma Watson),0.004,0.007,0.004,1.0,142.857143,0.003972,inf,0.996988
6,"( Emma Watson, Daniel Radcliffe)",( Rupert Grint),0.004,0.004,0.004,1.0,250.000000,0.003984,inf,1.000000
7,( Rupert Grint),"( Emma Watson, Daniel Radcliffe)",0.004,0.004,0.004,1.0,250.000000,0.003984,inf,1.000000
8,( Josh Hutcherson),( Liam Hemsworth),0.005,0.006,0.004,0.8,133.333333,0.003970,4.97,0.997487
9,( Josh Hutcherson),(Jennifer Lawrence),0.005,0.008,0.004,0.8,100.000000,0.003960,4.96,0.994975
10,"( Liam Hemsworth, Josh Hutcherson)",(Jennifer Lawrence),0.004,0.008,0.004,1.0,125.000000,0.003968,inf,0.995984
11,"( Liam Hemsworth, Jennifer Lawrence)",( Josh Hutcherson),0.004,0.005,0.004,1.0,200.000000,0.003980,inf,0.998996
12,"( Josh Hutcherson, Jennifer Lawrence)",( Liam Hemsworth),0.004,0.006,0.004,1.0,166.666667,0.003976,inf,0.997992
13,( Josh Hutcherson),"( Liam Hemsworth, Jennifer Lawrence)",0.005,0.004,0.004,0.8,200.000000,0.003980,4.98,1.000000
14,( Kevin James),(Adam Sandler),0.004,0.009,0.004,1.0,111.111111,0.003964,inf,0.994980